# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
/build
/out

# next.js
.next

# testing and reports
/coverage
.lighthouseci

# Chrome-for-Testing downloads used by local LHCI in Codespaces
.cache

# TypeScript
tsconfig.tsbuildinfo

# yarn berry
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

# environment files
.env.development.local
.env.local
.env.production.local
.env.test.local

# misc
.DS_Store
